@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');/* Alegreya */

*{
    font-family: "Alegreya", serif ;;
}

#navbar{
    position: sticky;
    background-color:rgba(37, 37, 37, .9) !important;
}

#brandname{
    font-family: "Alegreya", serif !important; 
    font-optical-sizing: auto !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

#navbarDropdown{
    color : #ffffff !important;
}

#navbarDropdown > *{
    color : #851f1f !important;
}


NavDropdown.Item{
    color : rgba(37, 37, 37, 0.9) !important;
}


#brandname img {
    margin-right: 6px;
    margin-bottom: 10px;
}

#togglebutton{
    background-color: #ffffff !important;
}
